html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.2;
  color: #283136;
  font-weight: normal;;
  font-family: "Roboto", "Arial", sans-serif;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 45px;
  line-height: 1.4;
  color: #000000;
  font-weight: medium;
  font-family: "Roboto", "Arial", sans-serif;
}
h1{
  font-size: 55px;
  line-height: 1.4;
  color: #000000;
  font-weight: medium;
  font-family: "Roboto", "Arial", sans-serif;
}
.main-header {
  background-color: #eeeeee;
  color: 000000;

}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  /*только для сетки*/
  min-height: 115px;
}
/*хэдэр и навигация*/
.main-header {
  background-color: #eeeeee;
  height: 545px;

  box-sizing: border-box;
}
.main-header-layout {
  display: flex;
  justify-content: space-between;
}

.index-logo {
  width: 160px;
  /**/
  min-height: 65px;
}
.main-navigation {
  width: 440px;
  /**/
  min-height: 65px;
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0px;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
  padding-left: 10px;
  margin-left: 20px;

}
.main-navigation a {
  display: block;
  paddin: 25px 20px;
  text-decoration: none;
  color: 000000;
}
.main-navigation a:hover {
  color:#fb565a;
}

.user-block {
  max-width: 160px;
  /**/
  min-height: 65px;
}
.basket {
  position: relative;

  display: inline-block;
  padding: 25px 20px;
  padding-right: 50px;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
  color: 000000;
  text-decoration: none;
}
.basket:hover {
  color: #fb565a;
}
.basket::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #ff0000 url("img/index/sprait.png") no-repeat;
  background-position: -1px -10px;
}
/*index-content*/
/*слайдер*/
.slider {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;

}
.desctop, .touchpad {
  display: none;
}
.left-mobile {

  width: 380px;
}
.right-mobile {

  width: 760px;
}
.left-desctops {
  width: 520px;

}
.item, .left-touchpad {
  width: 400px;
}
.item, .right-desctops {
  width: 665px;

}
.item, .right-touchpad {
  width: 760px;
}

.slider-navigate {
  display: inline-block;
  text-align: center;
}

/* products*/
.products {
  display: flex;
  justify-content: space-between;
}
.product {
  font-size: 16px;
  line-height: 1.2;
  width: 300px;
  /*для сетки*/
  min-height: 510px;
}

/*контент*/
.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.left-side {
  width: 660px;
  /**/
  min-height: 530px;
}
.right-side {
  width: 360px;
  /**/
  min-height: 530px;
}
.small-title {
  display: inline-block;
  width: 360px;
}
/*features*/
.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.procents {
  display: inline-block;
  width: 100px;
  min-height: 40px;
}
.description {
  display: inline-block;

}
/*партнеры*/
.partners {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-top: 80px;
  padding: 20px;
}

/*map*/
.map {
  display: flex;
}
.contacts {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*catalog-content*/
.main-title {
  display: inline-block;
  font-size: 55px;
  line-height: 1.4;
  color: #000000;
  font-weight: medium;
  font-family: "Roboto", "Arial", sans-serif;
  width: 760px;
  /**/
  min-height: 45px;
}
/*catalog-right-panel*/
.right-panel {
  width: 760px;
  min-height: 2245px;
}
.sort{
  display: flex;
}
.type {
  display: inline-block;
}
.catalog-gallery{
  font-size: 0px;
  display: flex;
  flex-flow: row wrap ;
  width: 760px;
  /**/
  min-height: 1924px;
}

.wrapper-block {
  display: none;
}
.catalog-gallery-item{
  display: inline-block;
  width: 360px;
  min-height: 620px;
  margin-right: 20px;
}

.pag {
  display: inline-block;
}
/*footer*/
.main-footer {
  margin-top: 30px;
  padding-bottom: 30px;
}
.main-footer-layout {
  display: flex;
}
.social-button {
  width: 260px;
  align-self: flex-start;
  /**/
  min-height: 215px;
  margin-left: 100px;
}
.footer-information {
  width: 560px;
  /**/
  min-height: 215px;
}
